{% extends "base.html" %}

{% block content %}
  <h1>Posts</h1>
    <a
      style="float: right"
      class="btn btn-secondary text-white"
      href="{% url 'posts:post-create' %}">Create
    </a>
    <hr>
  {% if post_list %}
    <ul>
      {% for post in post_list %}
        Rating: {{ post.rating }}
        Created time: {{ post.created_time }}
        {% if post.user %}
          User: {{ post.user.username }}
        {% else %}
          Unknown user
        {% endif %}
        Dish: {{ post.dish }}
        <hr>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
