<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li class="user-info">User: {{ user.username }}</li>
    <li><a href="{% url 'users:user-profile' user.pk %}">Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'users:login' %}">Login</a></li>
    <li><a href="{% url "users:user-create" %}">Registration</a></li>
  {% endif %}
  <li><a href="{% url "cuisine:index" %}">Home</a></li>
  <li><a href="{% url "cuisine:dish-list" %}">All dishes</a></li>
  <li><a href="{% url "cuisine:dish_type-list" %}">All types of available food</a></li>
  <li><a href="{% url "posts:post-list" %}">Forum</a></li>
  {% if user.is_superuser or user.is_staff %}
    <li class="admin-link"><a href="{% url 'admin:index' %}">Admin panel</a></li>
  {% endif %}
</ul>
