{% extends "base.html" %}

{% block content %}
  <div class="post-details">
    <h1>Post</h1>
    <hr>
    <div class="post-detail-item">
      <strong>Description:</strong>
      {{ post.description }}
    </div>
    <div class="post-detail-item">
      <strong>Rating:</strong>
      {{ post.rating }}
    </div>
    <div class="post-detail-item">
      <strong>Created:</strong>
      {{ post.created_time }}
    </div>
    <div class="post-detail-item">
      <strong>Dish:</strong>
      {{ post.dish }}
    </div>
    <div class="post-detail-item">
      <strong>User:</strong>
      {{ post.user|default:"Unknown user" }}
    </div>
    <hr>
    <a
      class="btn btn-success text-white"
      href="{% url 'posts:comment-create' pk=post.pk %}">
        Create comment
    </a>
    {% if post.commentaries.all %}
      <hr>
      <strong>Comments:</strong>
      <ul class="comment-list">
        {% for comment in post.commentaries.all %}
          <li class="comment-item">
            <a
              class="btn btn-secondary text-white"
              href="{% url 'posts:commentary-detail' pk=comment.pk %}">
              {{ comment.content }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-comments">There are no comments yet! You can add some one.</p>
    {% endif %}
    {% if user == post.user %}
      <hr>
      <a
        href="{% url 'posts:post-update' pk=post.pk %}"
        class="btn btn-info text-white"
      >
        Update post
      </a>
      <a
        style="float: right"
        class="btn btn-danger text-white"
        href="{% url 'posts:post-delete' pk=post.pk %}"
      >
        Delete post
      </a>
    {% endif %}
  </div>
{% endblock %}
