{% extends "base.html" %}

{% block content %}
  <h1>Posts</h1>
  {% if post_list %}
    <ul>
      {% for post in post_list %}
        <a href="{% url 'posts:post-detail' post.pk %}">{{ post.description|truncatewords:2 }}</a>
        Rating: {{ post.rating }}
        Created time: {{ post.created_time }}
        {% if post.user %}
          User: {{ post.user.username }}
        {% else %}
          Unknown user
        {% endif %}
        Dish: {{ post.dish }}
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    There are not posts yet
  {% endif %}
{% endblock %}
