{% extends "base.html" %}

{% block content %}
  <h1>Dishes:</h1>
  <hr>
  <form action="" method="get" class="form-inline">
    {{ search_form }}
    <input class="btn btn-outline-light" type="submit" value="🔎">
  </form>
  <br>
  {% if user.is_staff %}
    <a
        style="float: right"
        class="btn btn-secondary text-white"
        href="{% url 'cuisine:dish-create' %}">Create
    </a>
    <hr>
  {% endif %}
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <div><a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a></div>
          <hr>
          <div>Description: {{ dish.description }}</div>
          <hr>
          <div>Price: {{ dish.price }}</div>
          <hr>
          <div>Type of dish: {{ dish.dish_type }}</div>
          <p></p>
          <br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>There no dishes yet</h2>
    <br>
  {% endif %}
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</p>
{% endblock %}
