{% extends "base.html" %}

{% block content %}
  <h1>Dishes:</h1>
  <hr>
  <form action="" method="get" class="form-inline">
    {{ search_form }}
    <input class="btn btn-outline-light" type="submit" value="🔎">
  </form>
  {% if user.is_staff %}
    <br>
    <a
        class="btn btn-light text-bg-warning float-lg-end"
        href="{% url 'cuisine:dish-create' %}">Create
    </a>
    <div></div>

  {% endif %}
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <div><a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a></div>
          <br>
          <div>Description: {{ dish.description }}</div>
          <br>
          <div>Price: {{ dish.price }}</div>
          <br>
          <div>Type of dish: {{ dish.dish_type }} </div>
          <div class="card-footer text-lg-end">
            <a class="btn btn-success"
               href="{% url 'cuisine:basket-add' dish.id %}">
              Add to basket
            </a>
          </div>
          <br>
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <h2>There no dishes yet</h2>
    <br>
  {% endif %}
{% endblock %}
