{% extends "base.html" %}

{% block content %}
  <h1 >Name: {{ dish.name }}</h1>
    <strong>Description:</strong>
    {{ dish.description }}
    <hr>
    <strong>Price:</strong>
    {{ dish.price }}
    <hr>
    <strong>Image:</strong>
    <img src="{{ dish.image.url|safe }}" alt="Image" height="400">
    <hr>
    <strong>Type:</strong>
    {{ dish.dish_type }}
    <hr>
    <strong>Likes:</strong>
    {{ dish.likes.count }}

    {% if user.is_authenticated %}
      {% if user in dish.likes.all %}
        <form method="get" action="{% url 'cuisine:update_like_dish' pk=dish.pk %}">
          {% csrf_token %}
          <button type="submit">Unlike</button>
        </form>
      {% else %}
        <form method="get" action="{% url 'cuisine:update_like_dish' pk=dish.pk %}">
          {% csrf_token %}
          <button type="submit">Like</button>
        </form>
      {% endif %}
    {% endif %}
    {% if user.is_staff %}
      <hr>
      <a
        href="{% url 'cuisine:dish-update' pk=dish.pk %}"
        class="btn btn-dark link-to-page text-white"
      >
        Update dish
      </a>
    <a
      style="float: right"
      class="btn btn-secondary text-white"
      href="{% url 'cuisine:dish-delete' pk=dish.pk %}">Delete
    </a>
    <hr>
  {% endif %}
{% endblock%}
