{% extends "base.html" %}

{% block content %}
  <h1 >Name: {{ dish.name }}</h1>
    <strong>Description:</strong>
    {{ dish.description }}
    <hr>
    <strong>Price:</strong>
    {{ dish.price }}
    <hr>
    <strong>Image:</strong>
    <img src="{{ dish.image.url|safe }}" alt="Image" height="400">
    <hr>
    <strong>Type:</strong>
    {{ dish.dish_type }}
      <a
        style="float: right"
        href="{% url 'cuisine:post-create' pk=dish.pk %}"
        class="btn text-bg-success"
      >
        Create post
      </a>
    {% if dish.posts.all %}
      <hr>
    <strong class="text-bg-success">Posts:</strong>
      <ul>
      {% for post in dish.posts.all %}
        <br>
        <li>
        <a
        class="btn btn-secondary text-white"
        href="{% url 'posts:post-detail' pk=post.pk %}">
          {{ post }}
        </a>
          <br>
        <br>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <hr>
    <strong class="text-bg-warning">Likes:</strong>
    {{ dish.likes.count }}
    {% if user.is_authenticated %}
      {% if user in dish.likes.all %}
        <form method="get" action="{% url 'cuisine:update_like_dish' pk=dish.pk %}">
          {% csrf_token %}
            <div class="d-flex justify-content-end">
            <button
                type="submit"
                class="btn btn-outline-success text-bg-warning"
            >
              Unlike
            </button>
            </div>
        </form>
      {% else %}
        <form method="get" action="{% url 'cuisine:update_like_dish' pk=dish.pk %}">
          {% csrf_token %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-success text-bg-warning">Like</button>
            </div>
        </form>
      {% endif %}
    {% endif %}
    {% if user.is_staff %}
      <hr>
      <a
        href="{% url 'cuisine:dish-update' pk=dish.pk %}"
        class="btn btn-info link-to-page text-white"
      >
        Update dish
      </a>
    <a
      style="float: right"
      class="btn btn-danger text-white"
      href="{% url 'cuisine:dish-delete' pk=dish.pk %}"
    >
      Delete
    </a>
  {% endif %}
  <hr>
{% endblock%}
